@import "~bulma";
@import "~@fortawesome/fontawesome-pro/css/all.min";

@mixin icon($iconName) {
    background: url($iconName + ".svg") no-repeat center;
    background-size: 100%;
}

body,html {
    margin:0px;
    height: 100%;
    color: #204C82;
}
div.logo {
    background: url("credit_card_logo.png") no-repeat center;
    width: 75px;
}

.panel-icon,.icon {
    width: 24px;
    border: none;
    margin-right: 10px;
}

.ledger-entry {
    text-align: right;
}
 
.ledger-entry.amount {
    font-weight: 200;
    font-family: monospace;
}

.ledger-entry.balance {
    font-weight: 50;
    font-size: .75em;
    font-family: monospace;
    color: #7192bb;
}
.account-heading {
    
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    vertical-align: center;
}
.icon-large.icon {
    height: 32px;
}

.icon.arrows {
    @include icon("arrows")
}
.icon.chart {
    @include icon("chart")
}
.icon.profile {
    @include icon("profile")
}
.icon.envelope {
    @include icon("envelope")
}
.icon.lamp {
    @include icon("lamp")
}
.icon.vbars {
    @include icon("vbars")
}
.icon.wineglass {
    @include icon("wineglass")
}
.card {
   margin-bottom: 50px; 
}
.columns.account:hover, .panel-block:hover{
    background-color: hsl(0, 0%, 90%);
}
.panel-block.is-active:hover {
    background-color: hsl(214, 89%, 72%);
}
.panel-block.is-active {
    border-bottom: solid 2px hsl(214, 89%, 72%);
}
body, .panel, .panel-block, .panel-block.is-active, .panel-heading, .message > .column { 
    background: #F9F8F4;
    color: #204C82;
}

.message > .column { 
    background: white;
}

.panel-block {
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

.navbar-item,i.fal{
    color: #F9F8F4;
}
.app {
    height: 100vh;
    color: #204C82;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: #204C82;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #204C82;
}

.navbar-menu {
    background-image: url("bg_top.png");
    background-size:100% 100%;
}

.badge {
    position: relative;
    top: -10px;
    right: -10px;
    padding: 4px;
    border-radius: 50%;
    background: red;
    color: white;
}