@import "~bulma";
@import "~@fortawesome/fontawesome-pro/css/all.min";

body,html {
    margin:0px;
    height: 100%;
    color: #204C82;
}
div.logo {
    background: url("credit_card_logo.png") no-repeat center;
    width: 75px;
}
body, .card, .panel, .panel-block, .panel-block.is-active, .panel-heading { 
    background: #F9F8F4;
    color: #204C82;
}
.navbar-item,i.fal{
    color: #F9F8F4;
}
.app {
    height: 100vh;
    color: #204C82;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: #204C82;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #204C82;
}

.navbar-menu {
    background-image: url("bg_top.png");
    background-size:100% 100%;
}