source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Microsoft.AspNetCore.Authentication.OpenIdConnect
nuget FSharp.Core
nuget Microsoft.AspNetCore.Razor.Language 
nuget Criipto.Configuration ~> 0.2

